html{
    background-color: rebeccapurple;
}

.box1{
    height: 100px;
    width: 100px;
    background-color: red;
}

.box2{
    height: 300px;
    width: 400px;
    background-color: blue;
    border: 2px red;
}

.box3{
    height: 250px;
    width: 600px;
    background-color: green;
    border-radius: 6px;
}

h1{
    color: white;
    width: 400px;
    text-align: center;
}

h2{
    color: orange;
    width: 800px;
    text-align: right;
}